/*siilin_presentations CSS*/

body {
	margin: 0
}

.parallax {
    min-height: 700px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.75;
    position: relative;
}

.parallax p {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	text-align: center;	
}

.parallax span {
	text-transform: capitalize;
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
	line-height: 61px;
}

.textblock {
	background-color:#466577; 
	color: white;
	height: auto;
	font-size: 20px;
	min-height: 500px;
	text-align:center;
	text-align: justify;
	padding: 50px 80px;
}

figure {
	text-align: center
}

li a:link, li a:visited {
    text-decoration: none;
    color: inherit;
}

li a:hover, li a:active {
    text-decoration: underline;
    color: inherit;
    font-style: oblique;
}

#subtitle {
	letter-spacing: initial;
	background-color: transparent;
	color: black; font-weight: bold; 
	text-shadow: 0 0 10px white
}

.sublist {
	list-style-type: lower-alpha;
}

#names {
	top: 75%;
}

#index {
	font-size:22px
}

#ref {
	text-align: left;
	word-wrap: break-word;
}

#c {
	background-image: url(files/h2o.jpg);
}

#c1 {
	background-image: url(files/dino1.png);
}

#c2 {
	background-image: url(files/PokemonGO_feat.jpg);
}

#c3 {
	background-image: url(files/mobLearn.png);
}

#c4 {
	background-image: url(files/class.jpg);
}

#c5 {
	background-image: url(files/chemAR.jpg);
}

#c6 {
	background-image: url(files/skull.jpg);
}

#c7 {
	background-image: url(files/planets.png);
}

#c8 {
	background-image: url(files/girl.jpg);
}

#c9 {
	background-image: url(files/references.jpg);
}

@media print{
	.textblock {
		color: black;
	}

	.parallax span {
		color: black;
		opacity: 1;
	}

	.parallax p {
		position: relative;
	}

	.parallax {
		min-height: 70px;
	}

	a {
		color: gray;
		text-decoration: none;
		font-style: italic;
	}
}